<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130118980-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130118980-1');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Portfolio website">
    <meta name="author" content="James lochran">


    <title>Contact Me</title>

    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'open-iconic-master\font\css\open-iconic-bootstrap.css' %}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Custom styles for this template -->

  </head>
  <style>
.hero-image {
  background-image: url("{% static 'head.png' %}");
  background-color: #f8f6f6;
  height: 300px;
  /* background-position: left; */
  background-repeat: no-repeat;
  /* background-size: cover; */
  position: relative;
}

@media (min-width: 301px) and (max-width: 600px) {
  .hero-image {
    background-image: url("{% static 'head_sm.png' %}");
    background-color: #f8f6f6;
    height: 400px;
    /* background-position: left; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

</style>

  <body>
    <div class="container-fluid sticky-top">


        <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home'%}">James Lochran <br> <small class="text-muted"> Business and Technology Problem Solver</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="navbar-nav ml-auto"   >
                <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>

                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'home'%}#webdev">Web Development </a>
                <a class="dropdown-item" href="#inbound">Digital Marketing</a>
                <a class="dropdown-item" href="#analytics">Business Analytics</a>
          </div>
          </li>

                  <!-- <a class="nav-item nav-link" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a> -->
                  <!-- <a class="nav-item nav-link" href="{% url 'home'%}#projects">Projects </a> -->
                  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Experience
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'home'%}#projects">Projects </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'home'%}#technology">Technology Skills </a>
              <a class="dropdown-item" href="#development">Development Platforms</a>
              <a class="dropdown-item" href="#cloud">Cloud Environments</a>
            </div>
          </li>
            <a class="nav-item nav-link disabled" href="{% url 'contact' %}">My Contact Info</a>
                  <a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>
              </div>
            </div>
          </nav>
        </header>
        </div>

    <main role="main">
      {% load staticfiles %}
      <div class="container-fluid">
          <div class="hero-image ">
            <!-- <img src="{% static 'my_desk.JPG' %}" class="img-fluid" alt="Responsive image"> -->
            <div class="hero-text">
<br>
            <h1 class="display-4">
              Contact Me!</h1>
                <br>
              <p class="h4"><strong>Email</strong>: <a href="mailto:jlochran@gmail.com?subject=contact">jlochran@gmail.com</a>
              </p>
              <p class="h4"><strong>Phone</strong>: 207-752-0365
              </p>
              <a href="http://facebook.com/jameslochran"><i class="fab fa-facebook-f"></i> Facebook</a> or
              <a href="http://linkedin.com/in/jameslochran"><i class="fab fa-linkedin-in"></i> LinkedIn</a> or
              <a href="http://github.com/jameslochran"><i class="fab fa-github"></i> Github</a>
              <div class="d-none d-md-block">

                </div>
              <!-- <p>  While you're here check out my <a href="{% url 'allblogs' %}">blog.</a>  </p> -->
              <!-- <p><a href="mailto:jlochran@gmail.com" class="btn btn-secondary my-2">Contact Me</a>
              </p> -->
              </div>
          </div>
        </div>
<div class="container">

  <!-- <img src="{% static 'my_desk.jpg' %}" class="img-fluid" alt="Responsive image"> -->

</div>


  </main>
  <footer class="text-muted">
    <a name="contact"></a>
  <div class="container">
        <div class="footer">
    <div class="row">
      <div class="col-lg-6">
          <p>&copy; James Lochran {% now 'Y' %} &nbsp;
          </p>
      </div>
      <!-- <div class="col-lg-6 text-right">
        Connect with me on
        <a href="http://facebook.com/jameslochran"><i class="fab fa-facebook-f"></i> Facebook</a> or
        <a href="http://linkedin.com/in/jameslochran"><i class="fab fa-linkedin-in"></i> LinkedIn</a> or
        <a href="http://github.com/jameslochran"><i class="fab fa-github"></i> Github</a>
      </div> -->
    </div>
        </div>

  </footer>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
